main{
    display: grid;
    grid-template-areas:
    'calendar calendar calendar form form'
    'calendar calendar calendar form form'
    'calendar calendar calendar event event';
    justify-items: stretch;
    align-items: stretch;
    grid-auto-rows: 30vh;
}

#calendar-display{
    grid-area: calendar;
    width: 90%;
    padding-right: 5%; padding-left: 5%;
    border-right: 1px darkgray solid;
}
#form-display{
    grid-area: form;
    padding-right: 1vw;
    padding-top: 2vw;
}
#event-display{
    grid-area: event;
}

#container-date{
    width: 35vw;
}