main{
    display: grid;
    grid-template-areas:
    'months calendar calendar calendar'
    'months calendar calendar calendar'
    'months event event event';
    justify-items: stretch;
    align-items: stretch;
    grid-auto-rows: 30vh;
}

#month-selector{
    grid-area: months;
}
#calendar-display{
    grid-area: calendar;
}
#event-display{
    grid-area: event;
}